
#container{
 			 flex-wrap: nowrap;
  }

body{
	background-color: #F6F5F6;
	background-color: rgb(246, 245, 246);
	font-family:  'Handlee' , /*'Indie Flower';*/

}

.row1{
	position: relative;
	
}

/* .logo{
	perspective: 50px;
} */
	

.animacion .img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-image: url("../img/mapamundi1.jpeg");
	margin-left: 25px;
	margin-top: 10px;
	animation-name: rotacion;
	animation-duration: 5s;
  animation-delay: 1s;
	animation-iteration-count: 1; 
	background-position: right top;
	transform: translateZ(50px);
	animation-timing-function: ease-out;
	transform: translateY(-3000px);
	/* animation-direction: reverse; */
}


@keyframes rotacion{
	0%{
		background-position: left center;
		transform: translateY(0px);
	}
	
	50%{
		background-position: right top;
		transform: scale(1.2);

}

75%{
	background-position: right top;
	 transform: translateY(0px);
	 transform: scale(1.5);
	 opacity: 0.5;
	 
	}
	
	99%{
		transform: translateY(0px);
		opacity: 0;
		
 }

}



.buttonHome img{
	/* max-width: 100px;
	max-height: 100px; */
	margin: 0px;
	padding: 0px;	
	background-color: #F6F5F6!important;
	animation-name: bote;
	animation-duration: 3s;

}

keyframes bote{
	0%{
		
	}
	100%{

	}
}
h1{
	/* font-family: Palatino, Georgia; */
	font-family: 'Indie Flower' ;
	font-variant: small-caps; 
	letter-spacing: 3px;
	display: inline;
	position: absolute;
	top: 50px;
	left: 25%;

 }	



.navbar{
	color: #F4FFC5;
	background-color: #f3ddff;
	/* margin: 20px 20px !important; */
	margin: 25px 22px 20px 30px;
	font-size: 20px;
	font-family: 'Handlee';
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	display: block;
	padding-left: 10px;
	padding-right: 10px;

}

.navbar :any-link{
	color: black;
}

li{
	display: inline;
	text-align: center;
}

a:hover {
	/* color: #a4b265 !important; */
	color: #4ab265 !important;
}

.container-fluid{
	padding:8px;
}

/* p, h1{
	margin:10px;
} */

.wrapper{
	display: grid;
	grid-template-columns:  2fr 1fr;
	margin-left: 10px;
}

.ppal{
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px 0px 10px 20px;
	padding: 5px 10px;
	
	/* display: grid; */

}

.ppal a{
	color: #4ab265;
	background-color: #f3ddff;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10px;

}

h2{
	font-family: 'Indie Flower';
}

.aside{
	/* display: grid; */
	margin: 10px 20px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 12px;
	margin: 10px 10px 0px 50px;
	
}

.aside p{
	width: 250px;
	grid-area: text;
}

.search{
	display: flex;

}

.searchBar{

	width: 250px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
}

.searchBar-click{
	display: inline;
}

.searchButton{

	color: black;
	
}


.footer {
	display: grid;
		/* justify-content: center; */
	margin-top: 50px;
	margin-bottom: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background color: #e5ffe5;
		background-color: rgb(229,255,229); */
    color: black;
	text-align: center;
	grid-template-areas: "left right";
}

.footerTerms{
	grid-area: left;
}

.footerContact{
	grid-area: right;
}

/* 
.footerText{
	grid-template-columns: 50% 50%;

}

.footerText{
	margin-bottom: 2em;
} */

.footer :hover{
	color: #4ab265;
}

@media only screen and (max-width: 425px){

	li{
		display: block;
	}

	.navbar-right{
		display: block;
	}

	.aside{
		display: none;
	}


}

 @media only screen and (max-width: 767px) {
   li {
		 display: block;
		 
	 }

	 .wrapper{
		display: block;
	 }

	 .ppal{
		 margin-right: 20px;
	 }

	 .aside{
		display: none;
	}

	.logo{
		display: none;
	}

	h1{
		position: relative;
		top:0;
		left: 10%;
	}
} 

/* @media only screen and (min-width: 768px) {
	.search{
		display: none;
	}
} */


/* @media only screen and (max-width: 768px) {
	li {
		display: inline;
	}
 }
  */

	/* font-family: 'Butterfly Kids', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Courgette', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Cookie', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Handlee', cursive;
font-family: 'Italianno', cursive;
font-family: 'Parisienne', cursive; */