#container{
    flex-wrap: nowrap;
}

body{
	background-color: #F6F5F6;
background-color: rgb(246, 245, 246);
font-family:  'Handlee' ;

}

.row{
position: relative;
height: 150px;

}

.buttonHome{
 width: 100px;
 height: 100px;
 margin: 0px;
 padding: 0px;
 border: none;
 background: none;
 position: relative;
 top: 30px;
 left: 30px;	
}


h1{
font-family: 'Indie Flower' ;
font-variant: small-caps; 
letter-spacing: 3px;
display: inline;
position: absolute;
top: 45px;
left: 25%;

}	


img{
max-width: 100px;
max-height: 100px;
margin: 0px;
padding: 0px;	
}

.navbar{
color: #F4FFC5;
background-color: #f3ddff;
margin: 25px 22px 20px 30px;;
font-size: 20px;
font-family: 'Handlee';
border-style: solid;
border-width: 1px;
border-color: black;
text-align: center;
display: block;
padding-left: 10px;
padding-right: 10px;

}

.navbar :any-link{
color: black;
}
li{
display: inline;
text-align: center;
}

a:hover {
/* color: #a4b265 !important; */
color: #4ab265 !important;
}

.container-fluid{
padding:8px;
}

.search{
	display: flex;

}

.searchBar{

	width: 250px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
	
}

.searchBar-click{
	display: inline;
}

.searchButton{

	color: black;
	
}

h2{
    text-align: center;
}

.warning{
    text-align: center;
}

.listoflinks{
    margin-left: 20px;
    margin-right: 20px;

}

.listoflinks a{
    font-size: 1.3em;
}

/* .ebay-links{
	margin-y
} */

.ebay-links{

	margin-top: -20px;
}

.ebay-links a{
	font-size: 0.90em;
}

.footer {
	display: grid;
	margin-top: 50px;
	margin-bottom: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
	text-align: center;
	grid-template-areas: "left right";
}

.footerTerms{
	grid-area: left;
}

.footerContact{
	grid-area: right;
}

.footer :hover{
	color: #4ab265;
}

@media only screen and (max-width: 425px){

	li{
		display: block;
	}

	.navbar-right{
		display: block;
	}

	.aside{
		display: none;
	}


}

 @media only screen and (max-width: 767px) {
   li {
		 display: block;
		 
	 }

	 .aside{
		display: none;
	}

	.logo{
		display: none;
    }
    
    h1{
		position: relative;
		top:0;
		left: 10%;
	}
} 

