
#top, #bottom, #left, #right {
	background: black;
	position: fixed;
	}
#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }



#container{
	flex-wrap: nowrap;
}

body{background-color: #F6F5F6;
background-color: rgb(246, 245, 246);
font-family:  'Handlee' , /*'Indie Flower';*/

}

/* .row{
position: relative;

} */

/* .row{
	display: grid;
	grid-template-columns: 20% 80%;
} */



/* .logo{
perspective: 50px;
} */

/* .row{
	display: inline;
} */

.img{
/* width: 40px;
height: 40px; */
width: 150px;
height: 150px;
border-radius: 50%;
background-image: url("mapamundi1.jpeg");
margin-left: 25px;
margin-top: 10px;
animation-name: rotacion;
animation-duration: 5s;
/* transition-duration: 20s;
transition-delay: 1s; */
animation-delay: 1s;
animation-iteration-count: 2; 
background-position: right top;
transform: translateZ(50px);
animation-timing-function: linear;
/* animation-direction: reverse; */
}

/* @keyframes rotacion{
from{
transform: rotate3d(0 , 0 , 0, 0deg);
}
to{
transform: rotate3d(0, 2, 0, 360deg);
}

} */

@keyframes rotacion{
from {
background-position: left center;
}
to {
background-position: right top;
}
}

h1{
/* font-family: Palatino, Georgia; */
font-family: 'Indie Flower' ;
font-variant: small-caps; 
letter-spacing: 3px;
display: inline;
position: absolute;
top: 50px;
left: 25%;

}	


img{
max-width: 100px;
max-height: 100px;
margin: 0px;
padding: 0px;	
}

.navbar{
color: #F4FFC5;
background-color: #f3ddff;
margin: 20px 20px !important;
font-size: 20px;
font-family: 'Handlee';
border-style: solid;
border-width: 1px;
border-color: black;
text-align: center;
display: block;
padding-left: 10px;
padding-right: 10px;

}

.navbar :any-link{
color: black;
}
li{
display: inline;
text-align: center;
}

a:hover {
/* color: #a4b265 !important; */
color: #4ab265 !important;
}

/* .centered{
	font-size: 1.5em;
} */


.search{
	display: flex;

}

.searchBar{
	/* margin-left: 10px;
	width: 200px;
	grid-area: search; */
	/* width: 200px; */
	/* grid-area: searchBar; */
	width: 250px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
	/* display: none; */
}

.searchBar-click{
	display: inline;
}

.searchButton{

	color: black;
	/* display: none; */
	
}

.text{
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;

}

.primerP{
	text-align: center;
	font-size: larger;
}

.footer {
	display: grid;
	margin-top: 50px;
	margin-bottom: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
	text-align: center;
	grid-template-areas: "left right";
}

.footerTerms{
	grid-area: left;
}

.footerContact{
	grid-area: right;
}


.footer :hover{
	color: #4ab265;
}





@media only screen and (max-width: 425px){

	li{
		display: block;}
	}

@media only screen and (max-width: 767px) {

	li {
		  display: block;		  
	}

	.img{
		display: none;
	}

	h1{
		position: relative;
		top: 10px;
		left: 8%;
	}
}
