
#container{
 			 flex-wrap: nowrap;
  }

body{background color: #F6F5F6;
	background-color: rgb(246, 245, 246);
	font-family: Palatino, Georgia;

	}

h1{
	font-family: Palatino, Georgia;
	font-variant: small-caps; 
	letter-spacing: 3px;
 }	


img{
	max-width: 100px;
	max-height: 100px;
	margin: 0px;
	padding: 0px;	
}

.navbar{
	margin: 20px 20px !important;
	font-size: 20px;
	font-family: Palatino, Georgia;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	display: block;

}

.navbar :any-link{
	color: black;
}
li{
	display: inline;
	text-align: center;
}

.container-fluid{padding:8px;}

p, h1{
	margin:10px;
}

.ppal{
	border: 1px solid black;
	margin: 10px 20px;
	padding: 5px 10px;
}


.footer {

	margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background color: #D1EDD1 !important;
    background-color: rgb( 209, 237, 209);
    overflow: auto;
    
}

@media only screen and (max-width: 768px) {
   li {
   	display: block;
   }
}